[submodule "themes/fluid"]
	path = themes/fluid
	url = https://github.com/bmwolf102990/hexo-theme-fluid
[submodule "themes/landscape"]
	path = themes/landscape
	url = https://github.com/bmwolf102990/hexo-theme-landscape
